h1 {
	margin: 80px 0 50px;
	text-align: center;
	font-size: 32pt;
}

.content {
	max-width: 800px;
	margin: auto;
}

p {
	font-size: 20pt;
	text-align: center;
	font-weight: lighter;
}

.menu-link {
	font-weight: bold;
}

.menu-link:hover {
	text-decoration: underline;
}